%h1
  = @hexagram.king_wen_number
  = ") " <> @hexagram.english_name
%h3
  = @hexagram.chinese_name <> " - "
  = @hexagram.characters

#hexagram(data-lines="#{IChing.Hexagram.to_base2(@hexagram)}")

.row
  = [{@hexagram.judgement, "The Judgement"}, {@hexagram.image, "The Image"}] |> Enum.map fn {el, title} ->
    = if el do
      .col-sm-6
        %h4= title
        = render_with_linebreaks(el.content)
    - end
  - end
